.body{
    background-color: black;
}
.all{
    display: flex;


}



@media only screen and(max-width: 580px){
    .all{
        display: inline;
    }
}
.circle-wrap{
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background-color: #d9d7da;
    border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
.circle-wrap .circle .mask{
    clip: rect(0px, 150px, 150px, 75px);
}

/* color animation for 1st progress bar  */

.mask .fill-1{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #ec0c0c;
}
.mask.full-1,
.circle .fill-1{
    animation: fill-1 ease-in-out 3s;
    transform: rotate(153deg);
}
@keyframes fill-1 {

    0%{transform: rotate(0deg);}
    100%{transform: rotate(153deg);}
}

/* color animation for 2st progress bar  */

.mask .fill-2{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #ddec0c;
}
.mask.full-2,
.circle .fill-2{
    animation: fill-2 ease-in-out 3s;
    transform: rotate(117deg);
}
@keyframes fill-2{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(117deg);}
}

/* color animation for 3st progress bar  */

.mask .fill-3{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #0cece8;
}
.mask.full-3,
.circle .fill-3{
    animation: fill-3 ease-in-out 3s;
    transform: rotate(135deg);
}
@keyframes fill-3{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(135deg);}
}
.inside-circle{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: #212020;
    line-height: 120px;
    position: absolute;
    margin-top: 13px;
    margin-left: 13px;
    z-index: 100;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}